export default {
  apiEndpoint: 'API_ENDPOINT',
  postgres: {
    username: 'POSTGRES_USERNAME',
    password: 'POSTGRES_PASSWORD',
    database: 'POSTGRES_DATABASE',
    host: 'POSTGRES_HOST',
  },
  jwtSecret: 'JWT_SECRET',
  defaultAdmin: {
    email: 'ADMIN_EMAIL',
    passwordHash: 'ADMIN_PASSWORD',
  },
};
