export default {
  postgres: {
    username: 'POSTGRES_USERNAME',
    password: 'POSTGRES_PASSWORD',
    database: 'POSTGRES_DATABASE',
    host: 'POSTGRES_HOST',
  },
  jwtSecret: 'JWT_SECRET',
  mailAccount: {
    service: 'gmail',
    user: 'GMAIL_ADDRESS',
    pass: 'GMAIL_PASSWORD',
  },
};
